<div id="complete">
	<h1>thanks for signing up, you're awesome!</h1>

	<div>
		<h2>a happy hello from the founders</h2>
		<p>Swayly was created by three young students named <a href="/about#sam">Sam</a>, <a href="/about#max">Max</a>, and <a href="/about#william">William</a>. Our small, dedicated, team has worked extremely hard to transform Swayly from a dream to reality. Please share Swayly.com with friends and family that you think would appreciate shopping with a personalized community too! If you would like to support us you can click the Facebook "like" button, post a tweet, or spread the word over email.</p>

		<div>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://www.facebook.com/TeamSwayly"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_email"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5109c1bc79bb0c0a"></script>
			<!-- AddThis Button END -->
		</div>
	</div>
</div>
