<div id="complete">
	<h1>thanks for signing up, you're awesome!</h1>

	<div>
		<h2>a happy hello from the founders</h2>
		<p>Swayly was created by three young students named <a href="/about#sam">Sam</a>, <a href="/about#max">Max</a>, and <a href="/about#william">William</a>. Our small, dedicated, team has worked extremely hard to transform Swayly from a dream to reality. Please share Swayly.com with friends and family that you think would appreciate shopping with a personalized community too! If you would like to support us you can click the Facebook "like" button, post a tweet, or spread the word over email.</p>
	</div>
</div>
