<div id="landing">
	<h2>the beauty of shopping with</h2>
	<h1>community</h1>

	<span>Swayly lets you share, discuss, and ask about products you discover online.</span>

	<%= link_to("request an invite", invite_path) %>
</div>

<script type="text/javascript">
$(function() { SiteBindings.promo(); });
</script>
