body {
	height: 100%;
	margin:0 ;
  padding:0;
  font: 16px 'bebas_neue', sans-serif;
  letter-spacing: 4px;
}

.container {
	display: table;
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.block {
	display: table-row;
	height: 1px;
}

.push { height: auto; }

link {
 padding-bottom: 50px;
 size: 50px;
}

img {
	max-width: 80%;
	margin: 200px 0 0 0;
}

.date {
	font-size: 1.3em;
	letter-spacing: 4px;
	color: #BC0008;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 980px) {
	img {
		margin: 200px 0 0 0;
	}
}

@media screen and (min-width: 760px) and (max-width:979px) {
	img {
		margin: 200px 0 0 0;
	}
}

@media screen and (max-width: 767px) {
	img {
		margin: 175px 0 0 0;
	}
}

@media screen and (max-width: 480px) {
	img {
		margin: 175px 0 0 0;
	}
	body {
		font-size: 1.1em;
	}
}
