#landing {
  h2 {
    margin: -20px 0 0;
    font: 35px/45px lato_lightregular, Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: center;
    color: #fff;

    text-shadow: 0 1px 1px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction=45);
  }

  h1 {
    font: 110px/120px lato_lightregular, Lucida Sans Unicode, Lucida Grande, sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;

    text-shadow: 0 1px 1px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction=45);
  }

  span {
    float: left;
    width: 100%;
    padding: 10px 0 20px;
    font: 20px/28px Helvetica, Arial, sans-serif;
    text-align: center;
    color: #343434;
  }

  a {
    display: block;
    clear: both;
    width: 190px;
    height: 50px;
    margin: 0 auto;
    font: 20px/50px HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
    background: #00B3FF;
    color: #fff;
    text-decoration: none;
    text-align: center;

     border-radius: 5px;
  }
}

#invite {
  width: 530px;
  margin: 0 auto;
  padding: 15px 20px 20px;
  background: rgba(0,0,0,0.75);
   border-radius: 5px;

  h1 {
    font: 20px lato_lightregular, Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: center;
    color: #fff;
  }

  span {
    float: left;
    width: 100%;
    font: 20px/30px HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #7d7d7d;
  }

  input.email {
    float: left;
    width: 400px;
    height: 32px;
    margin: 10px 0 0;
    padding: 0 10px;
    border: 0;
    font: 20px/32px HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
     border-radius: 5px;
  }

  input.submit {
    float: left;
    width: 70px;
    height: 32px;
    margin: 10px 0 0 10px;
    padding: 0;
    border: 0;
    font: 20px/32px HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
    text-align: center;
    background: #00B3FF;
    color: #fff;
     border-radius: 5px;
  }

  div.cb { clear: both; }
}

#complete {
  h1 {
    margin: -20px 0 0;
    font: 35px/45px lato_lightregular, Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: center;
    color: #fff;

    text-shadow: 0 1px 1px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction=45);
  }

  > div {
    position: relative;
    width: 700px;
    margin: 20px auto;
    padding: 15px 20px 50px;
    background: rgba(0,0,0,0.75);
     border-radius: 5px;

    h2 {
      font: 20px/28px lato_lightregular, Lucida Sans Unicode, Lucida Grande, sans-serif;
      text-align: center;
      color: #fff;
    }

    p {
      font: 15px/22px Helvetica, Arial, sans-serif;
      color: #747474;
    }

    a { color: #00B3FF; }

    > div {
      position: absolute;
      bottom: 20px;
      left: 250px;

      .addthis_button_facebook_like { padding: 0 30px 0 0; }
      .email {
        display: inline-block;
        padding: 0 10px;
        line-height: 22px;
        background: #ededed;
        color: #333;
        text-decoration: none;

         border-radius: 3px;
      }
    }
  }
}
