<h1 class="founders">Meet the Founders</h1>

<div class="founder">
	<div class="left">
		<%= image_tag("founders/sam.jpg") %>
		<span class="name">Sam Felsenthal</span>
		<span class="city">Boulder, CO</span>
	</div>

	<div class="right">
		<ul>
			<li>
				<strong>Where do you currently go to school?</strong><br>
				University of Colorado
			</li>

			<li>
				<strong>What was your favorite food when you were a child?</strong><br>
				Buttered noodles with parmesan cheese
			</li>

			<li>
				<strong>If you were reincarnated as an animal/drink/ice cream flavor, what would it be?</strong><br>
				dog/mango shake/chocolate peanut butter
			</li>

			<li>
				<strong>If you could be any cartoon character who would you be?</strong><br>
				Tommy Pickles from Rugrats
			</li>

			<li>
				<strong>If you could have one mediocre super power what would it be? (shout out PandoDaily)</strong><br>
				Turn off my brain when I need to go to sleep
			</li>
		</ul>
	</div>
</div>

<div class="founder">
	<div class="left">
		<%= image_tag("founders/max.jpg") %>
		<span class="name">Max Jaffee</span>
		<span class="city">Boulder, CO</span>
	</div>

	<div class="right">
		<ul>
			<li>
				<strong>Where do you currently go to school?</strong><br>
				University of Colorado
			</li>

			<li>
				<strong>What was your favorite food when you were a child?</strong><br>
				The cheese platter for dessert
			</li>

			<li>
				<strong>If you were reincarnated as an animal/drink/ice cream flavor, what would it be?</strong><br>
				snow leapord/arnold palmer/mint chocloate chip
			</li>

			<li>
				<strong>If you could be any cartoon character who would you be?</strong><br>
				Bart Simpson
			</li>

			<li>
				<strong>If you could have one mediocre super power what would it be? (shout out PandoDaily)</strong><br>
				Read a book in the blink of an eye once a week
			</li>
		</ul>
	</div>
</div>

<div class="founder">
	<div class="left">
		<%= image_tag("founders/william.jpg") %>
		<span class="name">William</span>
		<span class="city">Ann Arbor, MI</span>
	</div>

	<div class="right">
		<ul>
			<li>
				<strong>Where do you currently go to school?</strong><br>
				Michigan State University
			</li>

			<li>
				<strong>What was your favorite food when you were a child?</strong><br>
				chocolate chip cookie dough (but just the dough)
			</li>

			<li>
				<strong>If you were reincarnated as an animal/drink/ice cream flavor, what would it be?</strong><br>
				cheetah/single malt scotch/chocolate chip cookie dough (some things never change)
			</li>

			<li>
				<strong>If you could be any cartoon character who would you be?</strong><br>
				Stewie, from Family Guy
			</li>

			<li>
				<strong>If you could have one mediocre super power what would it be? (shout out PandoDaily)</strong><br>
				Travel back in time 13 seconds, once.
			</li>
		</ul>
	</div>
</div>
