<section id="home">
	<header>
		<h1>TrunkIt</h1>
		<div class="hr"><hr></div>
		<span>&bull; A Fashion Marketplace Curated By Boutiques and Supplied By Brands &bull;</span>
	</header>

	<section class="features">
		<article>
			<h2>Grow beyond in store shelf space</h2>
			<span>By expanding your boutique infinitely online</span>
		</article>

		<article>
			<h2>Build a social presence hassle free</h2>
			<span>The shoppers do it for you by sharing with friends</span>
		</article>

		<article>
			<h2>Evaluate merchandise appeal</h2>
			<span>While allocating current shelf space to guaranteed winners</span>
		</article>

		<article>
			<h2>Discover the next great brand</h2>
			<span>Support designers that are new or old, big or small</span>
		</article>

		<article>
			<h2>Forget about shipping and returns</h2>
			<span>Brands handle all fulfillment</span>
		</article>

		<article>
			<h2>Earn a 20% commission on MSRP</h2>
			<span>For products you've supported without ever spending a penny</span>
		</article>
	</section>

	<div class="buttons">
		<a href="#">Sign Up</a>
		<a href="#">Sign In</a>
	</div>
</section>

<script>
$(function() { SiteBindings.home(); });
</script>
