<header class="block"></header>

<div class="block push">
  <%= image_tag("logo.png") %>
	<p class="tagline">THE RIGHT INVENTORY. THE RIGHT CUSTOMER. THE RIGHT TIME.</p>
</div>

<footer class="block" class="foot">
	<p class="date">02-2014</p>
  <%= content_tag(:h4, mail_to("team@trunkit.com")) %>
</footer>
